<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieStore</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body class=''>



    <h1 class="p-10 pb-3 mb-7 text-4xl text-center border-b-zinc-500 border-b-2">MovieStore</h1>
    <!-- form -->
    <div class="flex justify-center">
        <form action="/editmovie?id=<%= movie._id %>" method="post"
            class="w-2/3 flex flex-row text-2xl flex-wrap justify-center items-center align-center"
            enctype="multipart/form-data">
            <div class="basis-full flex justify-between items-center flex-wrap ">
                <div class="flex w-1/2 justify-between">
                    <label for="title">Title: </label>
                    <input required type="text"
                        class="bg-zinc-200 w-1/2 justify-end rounded-sm border-zinc-500 border m-1" name="title"
                        id="title">

                </div>
            </div>
            <div class="basis-full flex justify-between items-center flex-wrap ">
                <div class="flex w-1/2 justify-between">
                    <label for="rating">Rating: </label>
                    <input required type="number" min="0" max="5"
                        class="bg-zinc-200 w-1/2 justify-end rounded-sm border-zinc-500 border m-1" name="rating"
                        id="rating">

                </div>
            </div>
            <div class="basis-full flex justify-between items-center flex-wrap ">
                <div class="flex w-1/2 justify-between">
                    <label for="language">Language: </label>
                    <input required type="text"
                        class="bg-zinc-200 w-1/2 justify-end rounded-sm border-zinc-500 border m-1" name="language"
                        id="language">

                </div>
            </div>
            <div class="basis-full flex justify-between items-center flex-wrap ">
                <div class="flex w-1/2 justify-between">
                    <label for="genre">Genre <span class="text-zinc-400  text-xl pe-1">(optional)</span>: </label>
                    <input type="text" class="bg-zinc-200 w-1/2 justify-end rounded-sm border-zinc-500 border m-1"
                        name="genre" id="genre">

                </div>
            </div>
            <div class="basis-full flex justify-between items-center flex-wrap gap-10">
                <div class="flex w-1/4">
                    <label for="image">Cover Image: </label>
                    <div class="relative text-center cursor-pointer">
                        <input type="file"
                            class="bg-zinc-200 rounded-sm border-zinc-500 border m-1 text-transparent cursor-pointer h-20 w-40"
                            name="coverImage" id="image">
                        <span class="absolute top-1/2 left-1/2 -translate-1/2 text-center text-lg">Set Cover</span>
                    </div>
                </div>

            </div>
            <div class="basis-full flex justify-center mt-10">
                <input type="submit" value="Add movie"
                    class=" bg-zinc-200 p-1 px-4 rounded-sm cursor-pointer hover:bg-emerald-300 focus:bg-emerald-300 duration-200 hover:rounded-4xl focus:rounded-4xl ">
            </div>
        </form>
    </div>
</body>

</html>